{% extends "../layouts/base.html" %}

{% block title %}Tipos{% endblock title %}

{% block content %}
    <div class="container mt-4">
        <div class="card pokedex-card">
            <div class="card-header pokedex-header">
                <h1 class="text-center">Editar tipo</h1>
            </div>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="card-body p-4">
                <form action="{% url 'edit_kind' id=id %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-4">
                        {{ form.name_kind.label_tag }}
                        {{ form.name_kind }}
                    </div>
                    <input type="submit" class="btn btn-primary" value="Actulizar">
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    
{% endblock scripts %}
