{% extends "../layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
{% endblock head %}

{% block title %}Mantenimiento{% endblock title %}

{% block content %}
    {% load static %}
    <div class="container mt-4">
        <h1 class="text-center">Bienvenido Entrenador</h1>
        <p class="text-center">¡Bienvenido a la Pokedex! Explora el fascinante mundo de los Pokémon, descubre sus habilidades únicas,
            tipos y datos interesantes. ¡Atrévete a sumergirte en esta aventura de conocimiento y conviértete en
            un maestro Pokémon!</p>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}

        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-3">
                <a href="{% url 'add_pokemon' %}" class="btn btn-success btn-lg" style="text-decoration:none;">Nuevo Pokemon</a>
            </div>
        </div>
        <div class="row">
            {% for poke in pokelist %}
                <div class="col-md-3 mb-4">
                    <div class="card pokemon-card animate__animated animate__fadeIn">
                        <h5 class="card-title text-center">{{ poke.name }}</h5>
                        <img src="{{ poke.img.url }}" class="card-img-top" alt="{{ poke.name }}">
                        <div class="card-body">
                            <p class="card-text">
                                <strong>Región: </strong> {{ poke.id_region }}
                                {% for region in poke.id_region.all %}
                                    {{ region.name_region }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                            <p class="card-text">
                                <strong>Tipo:</strong>
                                {% for kind in poke.id_kind.all %}
                                    {{ kind.name_kind }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                            <div class="d-flex justify-content-between">
                                {% comment %} ! Boton para la ventana modal {% endcomment %}                                
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalId{{ poke.id }}"><i class="bi bi-trash-fill"></i></button>
                                
                                {% comment %} Modal {% endcomment %}
                                    <div class="modal fade" id="modalId{{ poke.id }}" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modalTitleId">
                                                        <img src="{% static 'img/iconos/pokebola.png' %}" alt="pokeball"> Eliminar Pokemon
                                                    </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                                                </div>
                                                <div class="modal-body">¿Estas seguro de que quieres eliminar a <strong> {{poke.name}} </strong>?</div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                    <a href="{% url 'pokedelete' poke.id%}" class="btn btn-danger">Aceptar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                                      
                                <a href="{% url 'pokedit' id=poke.id %}" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock content %}

{% block scripts %}
    <script>
        const myModal = new bootstrap.Modal(
            document.getElementById("modalId"),
            options,
        );
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock scripts %}