{% extends "../layouts/base.html" %}

{% block title %}New Pokemon{% endblock title %}

{% block content %}

<div class="container mt-4">
    <div class="card pokedex-card">
        <div class="card-header pokedex-header">
            <h1 class="text-center">Crea un nuevo pokemon</h1>
            <p class="text-center">
                ¡Bienvenido a la Pokedex! Descubre el emocionante mundo de la gestión de Pokémon y añade nuevas
                 criaturas a nuestra base de datos. Explora las habilidades únicas, tipos y datos fascinantes de
                  cada Pokémon. ¡Atrévete a sumergirte en esta emocionante aventura de conocimiento y conviértete
                   en un maestro Pokémon, contribuyendo a expandir nuestra colección y enriquecer la experiencia
                    para todos los entrenadores!</p>
        </div>
        <div class="card-body p-4">
            <form action="{% url 'add_pokemon' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-4">
                    {{ form.name.label_tag }}
                    {{ form.name }}
                </div>

                <div class="mb-4">
                    {{ form.img.label_tag }}
                    {{ form.img }}
                </div>

                <div class="mb-4">
                    {{ form.id_region.label_tag }}
                    {{ form.id_region }}
                </div>

                <div class="mb-4">
                    {{ form.id_kind.label_tag }}
                    {{ form.id_kind }}
                </div>
                <input type="submit" class="btn btn-primary" value="Agregar">
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
    
{% endblock scripts %}